/* the overlayed element */
.overlay {

    /* initially overlay is hidden */
    display:none;

    /* growing background image */
    background-image:url(img/white.png) !important;

    /*
      width after the growing animation finishes
      height is automatically calculated
      */
    width:590px;


    /* some padding to layout nested elements nicely  */
    padding: 100px 35px 35px 35px;
    left: 640px;

    /* a little styling */
    font-size:11px;
}

/* default close button positioned on upper right corner */
.overlay .close {
    background-image:url(img/close.png);
    position:absolute; right:5px; top:5px;
    opacity: 1 !important;
    cursor:pointer;
    height:35px;
    width:35px;
}

/* Fix this and Remove */
form button {
    border: none;
    background: transparent;
    text-decoration: none;
    padding: 0;
    line-height: normal;
}

.btn.active, .btn:active
{
    color: white;
    background-color: grey !important;
    box-shadow: 0 2px 3px rgba(255, 255, 0, 0.87) inset, 0 1px 2px rgba(255, 255, 0, 0.54) !important;
}
